
code/.buildPHP/*.log
code/.buildPHP/*.*.log
code/.buildPHP/Translations/.idea/

code/.cleanPHP/*.log
code/.cleanPHP/*.*.log

code/.packages/
code/.packages_zip/

code/.apiTests/curl_http_files/
code/.apiTests/results/
code/.apiTests/*.json
code/.apiTests/*.jsonoutside.txt

# org and temp files
**/*.org.*
**/*.tmp
